/*Variables*/
/*Body*/
/*Overall Classes*/
body {
  font-size: 16px;
  color: #373737;
  background-color: #FFF;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "PT Serif", "Times New Roman", serif; }

.hidden {
  display: none; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

a {
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
  color: #1AA5D9; }

a:hover {
  color: #82d2f0; }

.boxModel {
  height: 150px;
  background-color: black; }

h2 {
  font-family: "Nunito", "Helvetia", sans-serif;
  color: #373737; }

ul {
  margin: 0 auto; }

/*INDEX*/
/*Nav Elements*/
#mainNav {
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  height: 75px;
  -webkit-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56); }

#logo {
  width: 60%;
  max-width: 300px;
  float: left;
  margin-left: 25px;
  margin-top: 19px; }

/*
#hamburgerNav {
	float: right;
	max-width: 40px;
	margin-top: 22px;
	margin-right: 25px;
	margin-bottom: 30px;
}
*/
#navToggle {
  position: absolute;
  float: right;
  width: 40%;
  height: 75px;
  cursor: pointer; }

#navToggle span {
  position: absolute;
  left: 35%;
  top: 35px; }

#navToggle span, #navToggle span:before, #navToggle span:after {
  position: absolute;
  cursor: pointer;
  border-radius: 50px;
  height: 4px;
  width: 40px;
  background: #515151;
  display: block;
  content: ' ';
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

#navToggle span:before {
  top: -10px; }

#navToggle span:after {
  bottom: -10px; }

#navToggle.active span {
  background-color: transparent; }

#navToggle.active span:before, #navToggle.active span:after {
  top: 0px; }

#navToggle.active span:before {
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#navToggle.active span:after {
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#menuContent {
  display: none; }

#menuContent.open {
  display: block;
  position: fixed;
  top: 75px;
  width: 100%; }

#mainNav ul {
  clear: both;
  list-style-type: none;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56); }

#mainNav ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #6a6a6a;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease 0.2s; }

#mainNav ul li:hover {
  background-color: #0a526d; }

#mainNav ul li a {
  color: #F3F3F3;
  font-size: 1.875em;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease 0.2s;
  font-family: "Nunito", "Helvetia", sans-serif; }

#mainNav ul li a:hover {
  color: #55c5ef; }

/*End of Nav*/
/*Image Slider*/
#sliderCon {
  margin-top: 75px;
  margin-bottom: 20px;
  height: 150px;
  width: 100%;
  padding: 0;
  background-color: #373737; }

#imageSlider {
  padding: 0;
  height: 150px;
  width: 100%;
  background-color: #373737; }

/*End of Image Slider*/
/*Start of Welcome Text*/
#welcomeCon {
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center; }
  #welcomeCon h2 {
    font-family: "Nunito", "Helvetia", sans-serif;
    font-size: 3em;
    color: #1187B3; }
  #welcomeCon p {
    font-family: "PT Serif", "Times New Roman", serif;
    font-size: 1.25em; }

/*End of Welcome Text*/
/*Information Blocks*/
#blockCon {
  margin-bottom: 20px;
  margin-top: 40px;
  padding-left: auto;
  padding-right: auto;
  text-align: center; }

.infoBoxes {
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  .infoBoxes h2 {
    font-family: "Nunito", "Helvetia", sans-serif;
    font-size: 1.8em;
    color: #1187B3; }
  .infoBoxes p {
    font-family: "PT Serif", "Times New Roman", serif;
    font-size: 1em;
    color: #373737; }

.infoTextBox {
  padding-left: 40px;
  padding-right: 40px; }

.infoCircles {
  height: 300px;
  width: 300px;
  margin-bottom: 25px;
  border-radius: 250px;
  background-color: #F3F3F3;
  transition: all .5s ease;
  font-family: "Nunito", "Helvetia", sans-serif; }
  .infoCircles h2 {
    color: #F3F3F3;
    font-weight: bold;
    text-align: center;
    line-height: 300px;
    font-size: 2.5em;
    text-shadow: 3px 3px 12px #000; }

.infoCircles:hover {
  transform: scale(1.03);
  filter: grayscale(80%); }

/*End of Information Blocks*/
/*Start of Contact Form*/
#contactFormCon {
  border-top: 1px solid #e0e0e0;
  padding: 15px;
  margin-top: 30px; }

#contactForm #contactTitle {
  font-family: "Nunito", "Helvetia", sans-serif;
  font-size: 2.25em; }

.fieldsetCon
#submitButton {
  width: 100%; }

#contactSubmit {
  text-align: center;
  font-size: 2em; }

/*End of Contact Form*/
/*Start of Footer*/
#footerCon {
  background-color: #373737;
  padding-top: 20px; }

#backTop {
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Nunito", "Helvetia", sans-serif; }
  #backTop h2 {
    font-weight: bold;
    color: #1187B3;
    font-size: 2em;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s; }
  #backTop h2:hover {
    color: #6ccdf1; }

#footerNav {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px; }
  #footerNav ul li {
    font-family: "Nunito", "Helvetia", sans-serif;
    font-size: 2.125em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
  #footerNav ul li:last-child {
    border-bottom: none; }
  #footerNav a {
    color: #1187B3; }
  #footerNav a:hover {
    color: #6ccdf1; }

#socialIcons {
  display: none;
  margin-bottom: 20px; }

#copyright {
  font-family: "Nunito", "Helvetia", sans-serif;
  font-size: 1.25em;
  color: #1187B3;
  text-align: center;
  margin-top: 30px; }
  #copyright p {
    margin-bottom: 10px; }

/*End of Footer*/
@media screen and (min-width: 40em) {
  /*Start of Header*/
  #logo {
    width: 300px; }

  #hamburgerNav {
    margin-top: 25px; }

  /*End of Header*/
  /*Start of Welcome Text*/
  #welcomeCon h2 {
    font-size: 3.5em; }

  /*End of Welcome Text*/
  /*Start of Information Blocks*/
  .infoBoxes h2 {
    font-size: 2.5em; }
  .infoBoxes p {
    font-size: 1.25em; }

  /*End of Information Blocks*/
  /*Start of Footer*/
  #footerCon {
    padding-top: 0px; }
    #footerCon #backTop {
      display: none; }
    #footerCon #copyright {
      margin-top: 0px; }

  #footerNav {
    margin-top: 10px;
    margin-bottom: 0px; }
    #footerNav ul {
      margin-top: 10px;
      padding-top: 5px; }
      #footerNav ul li {
        display: inline-block;
        margin-right: 25px;
        font-size: 2em;
        text-align: center; }
      #footerNav ul li:last-child {
        margin-right: 0px; }

  #socialIcons {
    display: block; }

  /* End of Footer*/ }
@media screen and (min-width: 64em) {
  /*Start of Header*/
  #mainNav {
    height: 50px; }
    #mainNav #logo {
      width: 175px;
      margin-top: 12px; }
    #mainNav #navToggle {
      display: none; }
    #mainNav #menuContent {
      display: block;
      width: 50%;
      float: right; }
    #mainNav ul {
      background-color: rgba(255, 255, 255, 0);
      padding-top: 12px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      text-align: right;
      padding-right: 25px; }
    #mainNav ul li {
      display: inline-block;
      margin-right: 25px;
      border-bottom: none;
      padding: 0px; }
    #mainNav ul li:last-child {
      margin-right: 0px; }
    #mainNav ul li a {
      color: #373737;
      font-size: 1.125em; }
    #mainNav ul li a:hover {
      color: #aaaaaa;
      border-bottom: 1px solid #1187B3; }

  /*End of Header*/
  /*Start of Image Slider*/
  #sliderCon {
    margin-top: 50px; }

  /*End of Image Slider*/
  /*Start of Welcome Text*/
  #welcomeCon {
    text-align: left;
    padding-right: 40%; }
    #welcomeCon h2 {
      font-size: 4em; }
    #welcomeCon p {
      font-size: 1.125em; }

  /*End of Welcome Text*/
  /*Start of Information Bloks*/
  #blockCon {
    text-align: center; }

  .infoTextBox h2 {
    font-size: 1.5em; }
  .infoTextBox p {
    font-size: 1em; }

  /*End of Information Blocks*/
  /*Start of Contact Form*/
  .fieldsetCon
  #footerCon {
    padding-top: 0px; }
    .fieldsetCon
    #footerCon #copyright {
      font-size: 1em; }

  #footerNav {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px; }
    #footerNav ul {
      margin: 0px;
      margin-left: 50px; }
      #footerNav ul li {
        font-size: 1.5em;
        margin-right: 50px;
        text-align: left; }

  /*End of Footer*/ }

/*# sourceMappingURL=app.css.map */
